

img{
    width: 500px;
}

h5{
    margin-top: 0px;
    text-align: center;
}

ion-card {
  --color: #ffffff;


}

ion-card-title {
  --color: #ffffff;
}

ion-card-subtitle {
  --color: #ffffff;
  font-size: 1.5rem;
}

.accordion-item {
  border-radius: 10px;
}

.foot {
  height: 80px;
}