<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-card>
    <img alt="Silhouette of mountains"
      src="https://lh3.googleusercontent.com/p/AF1QipNwhlY31X9VkMEFpV3-yULViDweGZZ5hq0-zZup=s1360-w1360-h1020" />
    <ion-card-header>

      <h5>About Us</h5>
      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>Welcome</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card>
              <ion-card-header>
                <ion-card-title>Hello There</ion-card-title>
              </ion-card-header>

              <ion-card-content>
                Welcome to Bhartiya Vidya Bhavan's Sardar Patel Institute Of Technology
              </ion-card-content>
            </ion-card>
          </div>
        </ion-accordion>
      </ion-accordion-group>

    </ion-card-header>
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Vision</ion-label>

        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <img alt="Silhouette of mountains"
              src="https://scontent-bom1-1.xx.fbcdn.net/v/t39.30808-6/310932529_133687489434313_3374685186105501074_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=LK2gcBvbBzMAX-Q7OrP&_nc_ht=scontent-bom1-1.xx&oh=00_AfDSHwngSnJPFX8-fGPgybjjKcLnJtXyYS78QVvu-OtOsQ&oe=644046C5" />
            <ion-card-header>
              <ion-card-subtitle>Overview</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              Keeping in view the growing and changing needs of industry and society, we at S.P.I.T are
              committed to creating an environment which will raise the intellectual and moral standards of
              our students. Our endevor is to strive for the overall development of students, thereby ena-
              bling them to accept chanllenges.
              In tune with this our vision is
              To build a renowned institute which will produce world class
              graduate engineers with social sensitivity
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      <ion-accordion value="second">
        <ion-item slot="header" color="light">
          <ion-label>Mission</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <img alt="Silhouette of mountains"
              src="https://media.istockphoto.com/id/501539900/photo/mission.jpg?b=1&s=170667a&w=0&k=20&c=tpQcMGwaiVOm1_w8EajuxBI9vasQMW7EZIdOWbLtpp8=" />
            <ion-card-header>
              <ion-card-subtitle>Overview</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <p>
                -To provide high
                quality education</p>
              <p>
                -To train the students to excel in
                cutting edge technologies that
                make them industry ready</p>
              <p>
                -To inculcate entrepreneurial mindset
                in students in order to make them job
                creators
              </p>
              <p>
                -To inculcate ethical and professional
                values in students for the
                betterment of society
              </p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="redirect()">
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>