.foot {
    height: 80px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
    text-align: center;

    height: 120px;
    width: 350px;

    margin: 0 auto;
}

.ripple-parent {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    overflow: hidden;

    border: 1px solid #ddd;

    user-select: none;
}

.rounded-rectangle {
    width: 100px;
    height: 30px;
    border-radius: 8px;
    background-color: green;
}